body{
    background-color:white;
}

.container{
    background-color: lighten(#000, 93.5%);
}
.header{
    margin-top:20px;
    margin-left:20px;
    padding-bottom:10px;
    border-bottom: 2px solid #eee;
}

.navsetting{

    width:100%;
    margin-top:0;
    margin-bottom:0;
}

.navsetting > li{
        display: table-cell;
        padding-left:10px;
        padding-right:10px;
        text-align:center;
        font-size:0.96em;
        color: #428bca;
        width:12%;
}

.navbar-default{
    background-color:#428bca;
    border-width:0px ;
}

.navsetting >li >a{

    color:#cdddeb!important;
}

.navsetting >li:hover{

    background-color: #5B9ED8; 

}


.navsetting>.active{
    background-color:#3D83C1 !important;
}

.navsetting>.active>a{
    background-color:#3D83C1 !important;
    color:white !important;
}

#dividerformat{
    
    margin:0px;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

.nav-pills li{

    padding-top:10px;
    padding-bottom:10px;

}

.nav-pills > li.active > a{


    padding-bottom:15px !important;
}


.titlebrand {
    
    color:black; 

}

.titleshadow{
-webkit-box-shadow: inset 0px 10px 20px 0px rgba(66, 139, 202, 0.46);
-moz-box-shadow:    inset 0px 10px 20px 0px rgba(66,139,202, 0.46);
box-shadow: 3px 5px 20px 0px  rgba(66,139,202, 0.46);
}

.arrow-up{
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	
	border-bottom: 7px solid white;
    margin-left:auto;
    margin-right:auto;

}








.mainpage{

    padding-top:40px;
    background-color:#FCFEFF;
}

.mainpage > .header > .row {

    padding-top:20px;
}

.englishtitle{

    color:#ccc;
    font-size:0.7em;
    padding-top:0px;
    margin-top:0px;
}

.alertsetting{

    text-align:center;<D-r>
}

.sidemenu{
    
    border-right:2px solid #eee;
    font-size:1.0em;
}

.sidemenu > .nav-stacked > li > a> span{

    padding-bottom:6px;
}

.mainbody{

    margin-top:10px;
}

.headimg{
    margin-top:30px;
}


#jumbosetting{


    padding-top:20px;
    background-color:#D8E9FA;
    min-height:220px;
    border-radius:10px;
    margin-bottom:10px;
    padding-bottom:0px;
}

.news1{
    margin-left:20px;
    border-radius:10px;
    padding-left:20px;
    min-height:230px;
    padding-top:10px;

}
.news2{
    margin-left:15px;
    border-radius:10px;
    padding-left:20px;
    min-height:230px;
    padding-top:10px;
    width:250px;
}

.homepagepic{

   background:url('/img/homepage.png') no-repeat;
   width:550px;
   height:270px; 
   padding-top:15px;
   margin-left:10px;
   margin-right:10px;
   padding-left:30px !important;
}

.homepagepic h3{

    color:#5cb85c;
    margin-top:7px;
}

.hppbutton{

    margin-top:200px;
}

.hppindent{

    text-indent:2em;
}






.dropdown-submenu {
    position: relative;
    text-align:left;
    background-color:#5B9ED8;
    color:gray;
    padding-top:5px;
    padding-bottom:5px;
}

.dropdown-menu > li.dropdown-submenu:hover{
    
    background-color:#eee;
    color:black;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

#ttbarspec>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenulong>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border: none;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.dropdown-menu{
    padding:0px;
    background-color:#77AFDF;
}

.dropdown-menu>li>a{
    color:#1C3A54;
}

#rules{

    font-size:0.8863em;

}

#footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  margin-top:20px;
  padding-top:15px;
  padding-bottom:10px;
  background-color: #f5f5f5;
}

/*About.html*/

.aboutcenter{

    text-align:center;
    margin-top:0px;
}

.aboutjumbo{

    background-color:white;
}

.aboutphrasing{
    margin-top:15px;
    font-size:1.1em;
    margin-left:10px;
    text-indent:2em;

}

.abouttopic{

    margin-top:15px;
    font-size:1.5em;
    text-indent:2em;
    color: #428bca;

}


/* TRAINING. html */
#trainingtitle{
   
   padding-left:75px;
}

#trainingheading{

    margin-bottom:25;
}

#trainingformid{
   
    margin-top:20px;
    border-top: 2px solid #eee;  

}
/* IMPORTANT. html*/

.importantheader{


    margin-top:10px;
    margin-bottom:10px;
    text-align:center;
}

.importantlinks{

    margin-top:20px;
    margin-left:20px;
    font-size:1.2em;
}

.importantlinks > .list-group-item{

    color:#428bca;
    padding-left:20%;
    
}

.imptlinklab{

    margin-left:10px;
}



/* Appointment.html */

.apptheader{

    text-align:center;
    margin-top:30px;
    margin-bottom:20px;
}

.appt-instr-tbl{

    margin-top:25px;
    text-align:center;
    margin-left:22%;
    margin-right:22%
}

.appt-lesson-tbl{

    margin-top:25px;
    margin-bottom:30px;
    text-align:center;
    margin-left:12%;
    margin-right:12%
}


.apptcenter{

    text-align:center;
    margin-top:50px;  
}

.apptphrasing{

    text-indent:2em;
    font-size:1.1em;
    margin-left:9%;
    margin-right:9%;
}

.apptred{

    color:red; 
}

.apptblue{

    color:blue;
}

/* Rules.html */

.rulescenter{

    text-align:center;
    margin-top:20px;  
    margin-bottom:20px;  
}

.ruleslinks{

    font-size:1.2em;
}

.ruleslink{

    margin-left:25%;

}

/* equipment.html */

.eqpanel{

    margin-top:20px;
    margin-bottom:20px;
    width:100%;
}

.eqp2panel{

    margin-top:40px;
    margin-bottom:40px;
    margin-left:10px;
    margin-right:10px; 
}

.eqptable{

    width:60%;
    margin-bottom:30px;
}

.eqp2table{

    font-size:0.97em;
}

.eqp2table > thead > tr >th{

    min-width:110px;
}

.eqptablelong{

    width:85%;
}

.eqptable > .table{

    font-size:1em;
} 

.eqptablelong > .table{

    font-size:1em;
}    


.eqptblstart{

    margin-top:20px;
    margin-bottom:20px !important;

}

.eqptblitem{

    margin-bottom:20px !important;

}

.eqprow{

    width:15%;
}

.eqpsecondary{

    border-top: 2px solid #5bc0de;
    padding-top:20px;
    padding-bottom:20px;
}

.eqpsecondary p{

    text-indent:2em;
}

.eqpsecondary > .list-group-item{

    border: 1px solid #5cb85c;
}

a.eqpanchor{
    display: block; position: relative; top: -80px; visibility: hidden;
}

.eqp2center{

    text-align:center;
    margin-bottom:20px;
}
