.namesize{

    max-width:350px;
}

.suggestionsize{

    width:500px;
    margin-bottom:20px;
}

.formsetting{

    margin-top:15px;
    margin-left:20px;
}

.colshift{

    margin-top:0px;
    padding-top:0px;
}

